<div class="jumbotron center">
	<h1 class="welcome">Hungry?</h1>
		<%= link_to "Log in", "#", class: "btn btn-default bin-lg" %>
	 <%= link_to "Sign Up", "#", class: "btn btn-primary bin-lg" %>
</div>
